<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <title>اختيار الصف</title>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="classChoose.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <style>

    </style>
</head>

<body>
    <nav>
        <div class="school-info">
            <i class="fas fa-school school-icon"></i>
            <span>روضة دار الفرح الخاصة</span>
        </div>
        <div class="teacher-info">
            <span class="teacher-name"> <%= name_With_Nikname %></span>
           <a href="/"><button class="logout-btn">تسجيل الخروج</button></a>
        </div>
    </nav>

    <div class="page-title">
        اختر الصف الذي ترغب بعرضه
    </div>

    <div class="container">
    <%classes.forEach(clas => { %>
        <div class="class-box">
            <div class="class-name"><%=clas.class_name%> </div>
            <form action="/englishTeacherClass/<%=clas.id%>" method="GET">
                <button type="submit" class="select-button">اختيار</button>
            </form>
        </div>
    <% })%>
    </div>

 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"></script>
    </body>
    
    </html>