<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="noclass.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title> no_class</title>
</head>
<body>
  
    <nav>
        <div class="school-info">
            <i class="fas fa-school school-icon"></i>
            <span>روضة دار الفرح الخاصة</span>
        </div>
        <div class="teacher-info">
            <span class="teacher-name">الأستاذة سارة أحمد</span>
            <button class="logout-btn">تسجيل الخروج</button>
        </div>
    </nav>

   
    <div class="container">
        <p>  ❌
            غير مرتبطة بصف
        ❌ </p>
    </div>
  
</body>
</html>